{% extends 'base.html.twig' %}

{% block title %}Créer un produit{% endblock %}

{% block body %}
    <h1>Créer un produit</h1>

    <div class="row">
        <div class="col-md-5">

            {{ form_start(productForm) }}

            {{ form_row(productForm.name, {label: 'Nom du produit :', attr: {placeholder: 'Entrez le nom du produit'}}) }}
            {{ form_row(productForm.price, {label: 'Prix du produit :', attr: {placeholder: 'Entrez la prix du produit'}}) }}
            {{ form_row(productForm.content, {label: 'Description du produit :', attr: {placeholder: 'Entrez la description du produit'}}) }}
            {{ form_row(productForm.category, {label: 'Choix de la categorie :'}) }}
            {{ form_row(productForm.add, {attr: {class: 'btn btn-dark'}}) }}

            {{ form_end(productForm) }}

        </div>
    </div>
{% endblock %}