{% extends 'base.html.twig' %}

{% block title %}{{ product.name }}{% endblock %}

{% block body %}

    <div class="row mb-5">
        <div class="col-md-6 productImg">
            <img src="http://via.placeholder.com/512x512" alt="">
        </div>
        <div class="col-md-6">
            <span class="productCategory">{{ product.category.name }}</span>
            <h1>{{ product.name }}</h1>
            <span class="productPrice">29,99 €</span>

{#            <div class="productSize mt-2">#}
{#                <span>Choisir une taille :</span>#}
{#                <ul>#}
{#                    <li>XS</li>#}
{#                    <li>S</li>#}
{#                    <li>M</li>#}
{#                    <li>L</li>#}
{#                    <li>XL</li>#}
{#                </ul>#}
{#            </div>#}

            <div class="productDescription">
                <span>Description :</span>
                <p>
                    {{ product.content }}
                </p>
            </div>

            <div class="mt-2">
                <a href="#" class="btn btn-dark">Ajouter au panier</a>
            </div>
        </div>
    </div>

    <div class="row mt-2">
        <div class="col-md-12">
            <h3>Commentaires :</h3>
            <a href="{{ path('product_comment_create', {id: product.id}) }}">Ajouter un commentaire</a>
        </div>

        {% for comment in product.comments %}
            <div class="col-md-12 mt-2">
                <div class="card">
                    <div class="card-body">
                        {{ comment.content }}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}